nav {
    
    .menu {
        cursor: pointer;
        color: black;
    }

    section {
        border-bottom: 1px solid black;
        padding: 30px 0;
    }

    .info {
        div {
            font-weight: bold;
            font-size: 22px;
            margin: 15px 0;
        }
    }
}